@use 'sass:map';
@use 'globalVariables';

#screen-mode{
    cursor: pointer;
}

body.dark{
    background-color: map.get(globalVariables.$body-background, 'dark');
}

.calc.dark{
    background-color: map.get(globalVariables.$calc-background, 'dark');
    .screen.dark{
        color: map.get(globalVariables.$screen-color, 'dark');
        background-color: map.get(globalVariables.$screen-background, 'dark');
    }
    
    .key-equal.dark, .key-C.dark, .key.dark, .operator.dark{
        background-color: map.get(globalVariables.$key-background, 'dark');
        &:hover{
            background-color: map.get(globalVariables.$key-hover-background, 'dark');
            box-shadow: map.get(globalVariables.$key-hover-boxshadow, 'dark');
        }
    }
}