#screen-mode {
  cursor: pointer;
}

body.dark {
  background-color: #202328;
}

.calc.dark {
  background-color: #dadada;
}
.calc.dark .screen.dark {
  color: #000;
  background-color: #f5eeee;
}
.calc.dark .key-equal.dark, .calc.dark .key-C.dark, .calc.dark .key.dark, .calc.dark .operator.dark {
  background-color: #2f3332;
}
.calc.dark .key-equal.dark:hover, .calc.dark .key-C.dark:hover, .calc.dark .key.dark:hover, .calc.dark .operator.dark:hover {
  background-color: rgba(245, 238, 238, 0.6);
  box-shadow: 0px 15px 20px rgba(175, 170, 174, 0.3);
}

*, :root {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #97d9e1;
}

.calc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.25em;
  width: 15em;
  margin-top: 2.5vh;
}
@media (min-width: 400px) {
  .calc {
    font-size: 1em;
    height: 26em;
  }
}
@media (min-width: 500px) {
  .calc {
    font-size: 1.25em;
    height: 26em;
  }
}
@media (min-width: 600px) {
  .calc {
    font-size: 1.5em;
    height: 22em;
  }
}
@media (min-width: 700px) {
  .calc {
    font-size: 1.75em;
    height: 21em;
  }
}
.calc .row-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5em;
}
.calc .row-1 .screen {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em;
  margin: 0.25em;
  border-radius: 0.5em;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  background-color: #f484a2;
  width: 100%;
  height: 100%;
}
.calc .row-1 .key-C {
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #3f4557;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 0.25em;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
}
.calc .row-1 .key-C:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 20px rgba(228, 19, 158, 0.2);
  transform: translateY(5px);
}
.calc .regular-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5em;
  justify-content: space-around;
}
.calc .regular-row .key-zero {
  color: #fff;
  margin: 1em;
  background-color: #3f4557;
  text-align: center;
  border-radius: 0.25em;
  width: 100%;
  height: 60%;
  cursor: pointer;
}
@media (min-width: 200px) {
  .calc .regular-row .key-zero {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 300px) {
  .calc .regular-row .key-zero {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 500px) {
  .calc .regular-row .key-zero {
    padding: 0.5em 1.5em 1.5em 0.5em;
  }
}
@media (min-width: 600px) {
  .calc .regular-row .key-zero {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 700px) {
  .calc .regular-row .key-zero {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 800px) {
  .calc .regular-row .key-zero {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
    padding: 0.5em 3.25em 3.25em 0.5em;
  }
}
.calc .regular-row .key-zero:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 20px rgba(228, 19, 158, 0.3);
  transform: translateY(5px);
}
.calc .regular-row .key-one {
  color: #fff;
  margin: 1em;
  background-color: #3f4557;
  text-align: center;
  border-radius: 0.25em;
  width: 100%;
  height: 60%;
  cursor: pointer;
}
@media (min-width: 200px) {
  .calc .regular-row .key-one {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 300px) {
  .calc .regular-row .key-one {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 500px) {
  .calc .regular-row .key-one {
    padding: 0.5em 1.5em 1.5em 0.5em;
  }
}
@media (min-width: 600px) {
  .calc .regular-row .key-one {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 700px) {
  .calc .regular-row .key-one {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 800px) {
  .calc .regular-row .key-one {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
    padding: 0.5em 3.25em 3.25em 0.5em;
  }
}
.calc .regular-row .key-one:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 20px rgba(228, 19, 158, 0.3);
  transform: translateY(5px);
}
.calc .regular-row .key-two {
  color: #fff;
  margin: 1em;
  background-color: #3f4557;
  text-align: center;
  border-radius: 0.25em;
  width: 100%;
  height: 60%;
  cursor: pointer;
}
@media (min-width: 200px) {
  .calc .regular-row .key-two {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 300px) {
  .calc .regular-row .key-two {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 500px) {
  .calc .regular-row .key-two {
    padding: 0.5em 1.5em 1.5em 0.5em;
  }
}
@media (min-width: 600px) {
  .calc .regular-row .key-two {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 700px) {
  .calc .regular-row .key-two {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 800px) {
  .calc .regular-row .key-two {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
    padding: 0.5em 3.25em 3.25em 0.5em;
  }
}
.calc .regular-row .key-two:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 20px rgba(228, 19, 158, 0.3);
  transform: translateY(5px);
}
.calc .regular-row .key-three {
  color: #fff;
  margin: 1em;
  background-color: #3f4557;
  text-align: center;
  border-radius: 0.25em;
  width: 100%;
  height: 60%;
  cursor: pointer;
}
@media (min-width: 200px) {
  .calc .regular-row .key-three {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 300px) {
  .calc .regular-row .key-three {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 500px) {
  .calc .regular-row .key-three {
    padding: 0.5em 1.5em 1.5em 0.5em;
  }
}
@media (min-width: 600px) {
  .calc .regular-row .key-three {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 700px) {
  .calc .regular-row .key-three {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 800px) {
  .calc .regular-row .key-three {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
    padding: 0.5em 3.25em 3.25em 0.5em;
  }
}
.calc .regular-row .key-three:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 20px rgba(228, 19, 158, 0.3);
  transform: translateY(5px);
}
.calc .regular-row .key-four {
  color: #fff;
  margin: 1em;
  background-color: #3f4557;
  text-align: center;
  border-radius: 0.25em;
  width: 100%;
  height: 60%;
  cursor: pointer;
}
@media (min-width: 200px) {
  .calc .regular-row .key-four {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 300px) {
  .calc .regular-row .key-four {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 500px) {
  .calc .regular-row .key-four {
    padding: 0.5em 1.5em 1.5em 0.5em;
  }
}
@media (min-width: 600px) {
  .calc .regular-row .key-four {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 700px) {
  .calc .regular-row .key-four {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 800px) {
  .calc .regular-row .key-four {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
    padding: 0.5em 3.25em 3.25em 0.5em;
  }
}
.calc .regular-row .key-four:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 20px rgba(228, 19, 158, 0.3);
  transform: translateY(5px);
}
.calc .regular-row .key-five {
  color: #fff;
  margin: 1em;
  background-color: #3f4557;
  text-align: center;
  border-radius: 0.25em;
  width: 100%;
  height: 60%;
  cursor: pointer;
}
@media (min-width: 200px) {
  .calc .regular-row .key-five {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 300px) {
  .calc .regular-row .key-five {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 500px) {
  .calc .regular-row .key-five {
    padding: 0.5em 1.5em 1.5em 0.5em;
  }
}
@media (min-width: 600px) {
  .calc .regular-row .key-five {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 700px) {
  .calc .regular-row .key-five {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 800px) {
  .calc .regular-row .key-five {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
    padding: 0.5em 3.25em 3.25em 0.5em;
  }
}
.calc .regular-row .key-five:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 20px rgba(228, 19, 158, 0.3);
  transform: translateY(5px);
}
.calc .regular-row .key-six {
  color: #fff;
  margin: 1em;
  background-color: #3f4557;
  text-align: center;
  border-radius: 0.25em;
  width: 100%;
  height: 60%;
  cursor: pointer;
}
@media (min-width: 200px) {
  .calc .regular-row .key-six {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 300px) {
  .calc .regular-row .key-six {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 500px) {
  .calc .regular-row .key-six {
    padding: 0.5em 1.5em 1.5em 0.5em;
  }
}
@media (min-width: 600px) {
  .calc .regular-row .key-six {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 700px) {
  .calc .regular-row .key-six {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 800px) {
  .calc .regular-row .key-six {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
    padding: 0.5em 3.25em 3.25em 0.5em;
  }
}
.calc .regular-row .key-six:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 20px rgba(228, 19, 158, 0.3);
  transform: translateY(5px);
}
.calc .regular-row .key-seven {
  color: #fff;
  margin: 1em;
  background-color: #3f4557;
  text-align: center;
  border-radius: 0.25em;
  width: 100%;
  height: 60%;
  cursor: pointer;
}
@media (min-width: 200px) {
  .calc .regular-row .key-seven {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 300px) {
  .calc .regular-row .key-seven {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 500px) {
  .calc .regular-row .key-seven {
    padding: 0.5em 1.5em 1.5em 0.5em;
  }
}
@media (min-width: 600px) {
  .calc .regular-row .key-seven {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 700px) {
  .calc .regular-row .key-seven {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 800px) {
  .calc .regular-row .key-seven {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
    padding: 0.5em 3.25em 3.25em 0.5em;
  }
}
.calc .regular-row .key-seven:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 20px rgba(228, 19, 158, 0.3);
  transform: translateY(5px);
}
.calc .regular-row .key-eight {
  color: #fff;
  margin: 1em;
  background-color: #3f4557;
  text-align: center;
  border-radius: 0.25em;
  width: 100%;
  height: 60%;
  cursor: pointer;
}
@media (min-width: 200px) {
  .calc .regular-row .key-eight {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 300px) {
  .calc .regular-row .key-eight {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 500px) {
  .calc .regular-row .key-eight {
    padding: 0.5em 1.5em 1.5em 0.5em;
  }
}
@media (min-width: 600px) {
  .calc .regular-row .key-eight {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 700px) {
  .calc .regular-row .key-eight {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 800px) {
  .calc .regular-row .key-eight {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
    padding: 0.5em 3.25em 3.25em 0.5em;
  }
}
.calc .regular-row .key-eight:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 20px rgba(228, 19, 158, 0.3);
  transform: translateY(5px);
}
.calc .regular-row .key-nine {
  color: #fff;
  margin: 1em;
  background-color: #3f4557;
  text-align: center;
  border-radius: 0.25em;
  width: 100%;
  height: 60%;
  cursor: pointer;
}
@media (min-width: 200px) {
  .calc .regular-row .key-nine {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 300px) {
  .calc .regular-row .key-nine {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 500px) {
  .calc .regular-row .key-nine {
    padding: 0.5em 1.5em 1.5em 0.5em;
  }
}
@media (min-width: 600px) {
  .calc .regular-row .key-nine {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 700px) {
  .calc .regular-row .key-nine {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 800px) {
  .calc .regular-row .key-nine {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
    padding: 0.5em 3.25em 3.25em 0.5em;
  }
}
.calc .regular-row .key-nine:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 20px rgba(228, 19, 158, 0.3);
  transform: translateY(5px);
}
.calc .regular-row .key-dot {
  color: #fff;
  margin: 1em;
  background-color: #3f4557;
  text-align: center;
  border-radius: 0.25em;
  width: 100%;
  height: 60%;
  cursor: pointer;
}
@media (min-width: 200px) {
  .calc .regular-row .key-dot {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 300px) {
  .calc .regular-row .key-dot {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 500px) {
  .calc .regular-row .key-dot {
    padding: 0.5em 1.5em 1.5em 0.5em;
  }
}
@media (min-width: 600px) {
  .calc .regular-row .key-dot {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 700px) {
  .calc .regular-row .key-dot {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 800px) {
  .calc .regular-row .key-dot {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
    padding: 0.5em 3.25em 3.25em 0.5em;
  }
}
.calc .regular-row .key-dot:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 20px rgba(228, 19, 158, 0.3);
  transform: translateY(5px);
}
.calc .regular-row .key-equal {
  color: #fff;
  margin: 1em;
  background-color: #3f4557;
  text-align: center;
  border-radius: 0.25em;
  width: 100%;
  height: 60%;
  cursor: pointer;
}
@media (min-width: 200px) {
  .calc .regular-row .key-equal {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 300px) {
  .calc .regular-row .key-equal {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 500px) {
  .calc .regular-row .key-equal {
    padding: 0.5em 1.5em 1.5em 0.5em;
  }
}
@media (min-width: 600px) {
  .calc .regular-row .key-equal {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 700px) {
  .calc .regular-row .key-equal {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 800px) {
  .calc .regular-row .key-equal {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
    padding: 0.5em 3.25em 3.25em 0.5em;
  }
}
.calc .regular-row .key-equal:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 20px rgba(228, 19, 158, 0.3);
  transform: translateY(5px);
}
.calc .regular-row .operator-div {
  color: #fff;
  margin: 1em;
  background-color: #3f4557;
  text-align: center;
  border-radius: 0.25em;
  width: 100%;
  height: 60%;
  cursor: pointer;
}
@media (min-width: 200px) {
  .calc .regular-row .operator-div {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 300px) {
  .calc .regular-row .operator-div {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 500px) {
  .calc .regular-row .operator-div {
    padding: 0.5em 1.5em 1.5em 0.5em;
  }
}
@media (min-width: 600px) {
  .calc .regular-row .operator-div {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 700px) {
  .calc .regular-row .operator-div {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 800px) {
  .calc .regular-row .operator-div {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
    padding: 0.5em 3.25em 3.25em 0.5em;
  }
}
.calc .regular-row .operator-div:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 20px rgba(228, 19, 158, 0.3);
  transform: translateY(5px);
}
.calc .regular-row .operator-mult {
  color: #fff;
  margin: 1em;
  background-color: #3f4557;
  text-align: center;
  border-radius: 0.25em;
  width: 100%;
  height: 60%;
  cursor: pointer;
}
@media (min-width: 200px) {
  .calc .regular-row .operator-mult {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 300px) {
  .calc .regular-row .operator-mult {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 500px) {
  .calc .regular-row .operator-mult {
    padding: 0.5em 1.5em 1.5em 0.5em;
  }
}
@media (min-width: 600px) {
  .calc .regular-row .operator-mult {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 700px) {
  .calc .regular-row .operator-mult {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 800px) {
  .calc .regular-row .operator-mult {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
    padding: 0.5em 3.25em 3.25em 0.5em;
  }
}
.calc .regular-row .operator-mult:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 20px rgba(228, 19, 158, 0.3);
  transform: translateY(5px);
}
.calc .regular-row .operator-minus {
  color: #fff;
  margin: 1em;
  background-color: #3f4557;
  text-align: center;
  border-radius: 0.25em;
  width: 100%;
  height: 60%;
  cursor: pointer;
}
@media (min-width: 200px) {
  .calc .regular-row .operator-minus {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 300px) {
  .calc .regular-row .operator-minus {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 500px) {
  .calc .regular-row .operator-minus {
    padding: 0.5em 1.5em 1.5em 0.5em;
  }
}
@media (min-width: 600px) {
  .calc .regular-row .operator-minus {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 700px) {
  .calc .regular-row .operator-minus {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 800px) {
  .calc .regular-row .operator-minus {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
    padding: 0.5em 3.25em 3.25em 0.5em;
  }
}
.calc .regular-row .operator-minus:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 20px rgba(228, 19, 158, 0.3);
  transform: translateY(5px);
}
.calc .regular-row .operator-plus {
  color: #fff;
  margin: 1em;
  background-color: #3f4557;
  text-align: center;
  border-radius: 0.25em;
  width: 100%;
  height: 60%;
  cursor: pointer;
}
@media (min-width: 200px) {
  .calc .regular-row .operator-plus {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 300px) {
  .calc .regular-row .operator-plus {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media (min-width: 500px) {
  .calc .regular-row .operator-plus {
    padding: 0.5em 1.5em 1.5em 0.5em;
  }
}
@media (min-width: 600px) {
  .calc .regular-row .operator-plus {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 700px) {
  .calc .regular-row .operator-plus {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
  }
}
@media (min-width: 800px) {
  .calc .regular-row .operator-plus {
    padding: 0.5em 1.5em 1.5em 0.5em;
    padding: 0.5em 2.25em 2.25em 0.5em;
    padding: 0.5em 3.25em 3.25em 0.5em;
  }
}
.calc .regular-row .operator-plus:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 20px rgba(228, 19, 158, 0.3);
  transform: translateY(5px);
}

/*# sourceMappingURL=style.css.map */
